nav {
  padding-left: 1.5em;
  padding-right: 1.5em;
  height: 120px;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: #4056a1;
  color: #ffffff;
  
}

nav span {
  font-family: 'Bungee', cursive; 
}



.new-tweet-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.write-tweet {
  font-family: 'Source Sans Pro', sans-serif;

}

.toggle-btn {
  color: red;
  background-color: transparent;
  border: none; 
  animation: bounce 1.0s ease-in-out infinite;
  animation-direction: alternate-reverse;
}
.toggle-btn:hover {
  color:rgb(246, 140, 12)
}

@keyframes bounce {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, 8px);
  }
}
