article {
  border: solid 4px #545149;
  margin-top: 50px;
  width: 100%
}

article:hover {
  box-shadow: 7px 7px rgb(214, 202, 230);
}

.user {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: #545149;
  font-size: 90%;
  margin-bottom: 20px;
}


.user-handle {
  color:rgb(180, 174, 174);
  font-weight: 500;
}

.tweet-content {
  padding: 0px 10px 0px 10px;
}

.tweet-content > p {
  margin: auto;
  padding-left: 15px;
}

.line {
  border-bottom: 4px solid #545149;
  margin: 0px auto;
}

.time-icons {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 20px;
  padding-left: 28px;
  padding-right: 28px;
  font-size: 0.60em;
  color: #545149;
}


.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color:rgb(58, 58, 110);
}

.fa-solid.fa-flag:hover {
  color:rgb(220, 164, 20)
}

.fa-solid.fa-retweet:hover {
  color:rgb(220, 164, 20)
}

.fa-solid.fa-heart:hover {
  color:rgb(220, 164, 20)
}